.Search2Version {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 1;
    background-color: white;
}
.Search2Version > input {
    width: 470px;
    height: 45px;
    border: 1px solid #a2d9ff;
    border-radius: 10px;
    font-size: 24px;
    padding: 7px;
    margin-right: 5px;
}
.Search2Version > button {
	width: 500px;
	height: 55px;
	margin: 5px;
	background-color: orange;
	font-family: Arial;
	font-size: 20px;
	border-radius: 7px;
	border: 0;
	transition-duration: 0.5s;
}
.Search2Version > button:hover {
	transition-duration: 0.5s;
	cursor: pointer;
	box-shadow: 5px 5px 5px lightgrey;
	background-color: darkorange;
	color: white;
}
.Search2Version > .sort-buttons {
    margin: 30px;
}
.Search2Version > .sort-buttons span  {
    margin: 0 30px;
    color:orange;
    font-size: 24px;
}
.Search2Version > .sort-buttons span:hover  {
    color:lightblue;
    cursor: pointer;
}
.Search2Version .book-covers {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 50px;
}
.Search2Version .book-covers > a {
    padding: 10px;
    margin: 5px;
    border: 2px solid white;
    width: 250px;
    height: 310px;
}
.Search2Version .book-covers > a > img {
    width: 220px;
    height: 280px;
    box-shadow: 5px 5px 5px 5px lightgrey;
    margin: 20px;
    transition: all .3s ease-in-out;
}
.Search2Version .book-covers > a > img:hover{
    cursor: pointer;
    transform: scale(1.07);
    transition: all .3s ease-in-out;
}
@media only screen and (max-width: 1000px){
    .Search2Version .book-covers{
        margin: 0;
        width: 100%;
    }
}
@media only screen and (max-width: 600px){
    .Search2Version .book-covers{
        width: 100%;
        justify-content: center;
    }
    .Search2Version h2{
       padding: 0 5px;
       text-align: center;
    }
    .Search2Version > input {
        width: 90%;
    }
    .Search2Version > button {
        width: 90%;
    }
}