.UserContent {
    height: auto;
    padding: 20px;
    background-color: white;
    position: relative;
    z-index: 1;
}
.UserContent button {
    position: absolute;
    width: 45px;
    height: 45px;
    font-size: 30px;
    border: 0;
    z-index: 1;
    transition-duration: 0.3s;
    opacity: 0.5;
    color: black;
    margin-left: -62px;
    margin-top: 20px;
}

.UserContent .book-covers {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    position: relative;
    margin-bottom: 50px;
}
.UserContent h2, .UserContent p {
    margin-left: 50px;
}
.UserContent .book-covers a > img {
    width: 220px;
    height: 280px;
    box-shadow: 5px 5px 5px 5px lightgrey;
    margin: 20px;
    transition: all .3s ease-in-out;
}
.UserContent .book-covers a > img:hover{
    cursor: pointer;
    box-shadow: 10px 10px 10px 10px lightgrey;
    transition: all .3s ease-in-out;
}
.UserContent .book-covers button:hover {
    cursor: pointer;
    opacity: 1;
}