.additional-info {
    position: relative;
    z-index: 1;     
    float: right;
	padding: 0 30px 70px 0;
    
}
.additional-info > a{  
    text-decoration: none;
	color: darkorange;
	font-size: 24px;
}
.additional-info > a:hover {  
	color: blue;
}
footer {
    position: relative;
    height: 200px;
    background-color: #f3f4f5;
}
footer > svg {
    position: absolute;
    margin-top: -185px;
    background-color: white;
}
@media only screen and (max-width: 850px){
    footer > svg {
        margin-top: -110px;
    }
}