.HeaderNavigation {
    font-size: 20px;
    padding: 10px;
    float: right;
    position:relative;
    z-index: 1;
}
.HeaderNavigation > input {
    width: 220px;
    height: 30px;
    font-size: 17px;
    border: 1px solid #a2d9ff;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
}
.HeaderNavigation > a {
    color: blue;
    text-decoration: none;
    margin: 20px;
}
.HeaderNavigation > a:hover {
    color: orange;  
}

.logo {
    position: absolute;
    left: 30px;
    top:30px;
}
@media only screen and (max-width: 940px){
    .HeaderNavigation {
        display: flex;
        flex-direction: column;
        height: 0;
        overflow: show;  
    }
}

@media only screen and (max-width: 700px){
    .HeaderNavigation {
        flex-direction: row;
        height: auto;
        justify-content: space-around;
        align-items: center;
       
    } 
    .HeaderNavigation > input {
      display: none;
    }
}
