.HeaderNavigation {
    float: right;
    position:relative;
}

.HeaderNavigation > input {
    width: 220px;
    height: 30px;
    border: 1px solid #a2d9ff;
    border-radius: 10px;
    font-size: 17px;
    padding: 7px;
    margin-right: 5px;
}
.HeaderNavigation > a {
    color: blue;
    padding: 15px;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
    
}
.HeaderNavigation > a:hover {
    color: orange;  
}


@media only screen and (max-width: 920px){
    .HeaderNavigation {
        display: flex;
        flex-direction: column;
       
    }
}

@media only screen and (max-width: 723px){
    .HeaderNavigation {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0 10px;
    }
    .HeaderNavigation > a {
        padding: 10px;
        margin: 0 5px;
      }
    .HeaderNavigation > input {
      display: none;
    }
}