.HeaderTitle {
    float: right;
    color: orange;
    margin: 120px 10px 0 50px;
    position: relative;
    z-index: 1;  
}
@media only screen and (max-width: 940px){
    .HeaderTitle {
        margin: 10px;
        text-align: center;
    }
}