.Header > svg {
    position: absolute;
    background-color: white;
}
.Header > svg > path {
    fill: #f3f4f5;
    fill-opacity: 1;
}
.Header img {
    width: 450px;
    height: 350px;        
    opacity: 0.7; 
    border-radius: 0 45% 15% 0;
}
.image-and-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
@media only screen and (max-width: 940px){
    .image-and-title {
        flex-direction: column;
    }
}
@media only screen and (max-width: 700px) {
    .Header img { 
        width: 430px;
        height: 330px;    
    }
}