main {
    background-color: #f4f5f6;
    margin-top: 300px;
}
body {
    background-color: #f4f5f6;
}
section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 150px 30px 20px 20px;
    background-color: #f4f5f6;	
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 330px;
    width: 1250px;
    background-color: white;
}

.book-covers {
    display: flex;
    overflow-x: hidden;
    position: relative;
    z-index: 1;
}

.book-covers > a {
    width: 220px;
    height: 230px;
    margin: 3px;
    border: 2px solid white;
}

.book-covers > a > img {
    width: 180px;
    height: 220px;
    box-shadow: 3px 3px 3px 3px lightgrey;
    margin: 2px;
    transition: all .3s ease-in-out;
}

.book-covers > a > img:hover{
    cursor: pointer;
    transform: scale(1.07);
    transition: all .3s ease-in-out;
}

.book-covers::-webkit-scrollbar {
      display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

.book-covers {
    -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none; /* Firefox */
}

.book-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.genre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;	
    position: relative;
    z-index: 1;
    margin: -61px 20px 0 20px;
    font-size: 16px;	
}
.right-side .title {
    text-align: right;
}
.right-side .comment {
    flex-direction: row-reverse;
}

.title {
    font-family: 'Caveat', cursive;
    font-size: 50px; 
}
.comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: orange;
}
.comment a {
    font-size: 20px;
    color: orange;
    text-decoration: underline dotted;
    z-index: 1;
}
.comment a:hover {
    color: blue;
}

.buttons {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;	
    position: absolute;
    padding: 50px 24px 0 0px;
}

button.right, button.left {
    background-color: white;
    color: orange;
    font-size: 33px;
    padding: 2px 9px;
    border-radius: 50%;
    border: 1px solid white;
    z-index: 1;
}
button.right:hover, button.left:hover {
    background-color: orange;
    color: white;
    cursor: pointer;
}

.img-containter > img {
    width: 250px;
    height: 250px;	
    z-index: 1;
    margin-top: -50px;
}
.left-side .img-containter > img {
    border-radius: 0 20% 0 35%;
}
.right-side .img-containter > img {
    border-radius: 20% 0 35% 0;
}


@media only screen and (max-width: 1550px){
    .container {
        width: 77vw;
    }
}
@media only screen and (max-width: 1330px){
    .container {
        width: 72vw;
    }

}
@media only screen and (max-width: 1100px){
    .container {
        width: 67vw;
    }
}
@media only screen and (max-width: 1000px){
    main {
        margin-top: 380px;
    }
}

@media only screen and (max-width: 920px){
    .container {
        width: 62vw;
        height: auto;
    }
    .left-side .comment, .right-side .comment {
        display:flex;
        flex-direction: column;
        padding: 5px;
    }
    .comment a {
        margin-top: 40px;
    }
     .left-side .title, .right-side .title {
       font-size: 42px;
    }
    main {
        margin-top: 515px;
    }
  
}



@media only screen and (max-width: 820px){
    .container {
        width: 57vw;
    }
 
}
@media only screen and (max-width: 720px){
    .container {
        width: 50vw;
    }
    .container .buttons {
        margin-top: 55px; 
    }

 
}
@media only screen and (max-width: 620px){

    section {
        width: 93%;
        margin-left: 5px;
          
    }
    .container {
        width: 42vw;
    }
    .container .buttons {
        margin-top: 50px; 
    }
   

}
@media only screen and (max-width: 570px){
 
    .img-containter > img {
        width: 220px;
        height: 220px;
    }
    main {
        margin-top: 599px;
    }
}